<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>cpp,c++,cp,cxx,C</string>
		<key>Function Modifiers</key>
		<array>
			<dict>
				<key>Replace</key>
				<string>\([^\)]*\)</string>
				<key>With</key>
				<string>()</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>{</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string> +)</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>).*</string>
				<key>With</key>
				<string>)</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>#pragma mark -</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>#pragma mark </string>
				<key>With</key>
				<string></string>
			</dict>
		</array>
		<key>Functions Regular Expression</key>
		<string>(
([A-Za-z0-9_*]+[ 	:~\*
]+){1,3}[A-Za-z0-9_*]+[ 	]*\([][A-Za-z0-9_, 	
\*\&amp;~/:]*\)[[:cntrl:] ]*:?["A-Za-z0-9\(\)\*:\&amp;_, [:cntrl:]]*[[:cntrl:] ]*\{|#pragma mark[^[:cntrl:]]*|#define +[A-Za-z0-9_]+ +\([^\)]*\))</string>
		<key>Name</key>
		<string>C++</string>
		<key>Valid Characters for Variables</key>
		<string>:_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Numbers</string>
			<key>Plain Strings</key>
			<array>
				<string>[0-9]*\.*[0-9]+</string>
				<string>0x[0-9a-fA-F]+</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Chars</string>
			<key>Regular Expressions</key>
			<array>
				<string>'.'</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.2</real>
				<real>0.41369999051094055</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>C-Functions</string>
			<key>Regular Expressions</key>
			<array>
				<string>([A-Za-z0-9_]+ *)\(</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                            <string>class</string>
                            <string>false</string>
                            <string>friend</string>
                            <string>inline</string>
                            <string>namespace</string>
                            <string>new</string>
                            <string>delete</string>
                            <string>operator</string>
                            <string>private</string>
                            <string>protected</string>
                            <string>public</string>
                            <string>const_cast</string>
                            <string>reinterpret_cast</string>
                            <string>static_cast</string>
                            <string>dynamic_cast</string>
                            <string>explicit</string>
                            <string>template</string>
                            <string>this</string>
                            <string>throw</string>
                            <string>true</string>
                            <string>try</string>
                            <string>catch</string>
                            <string>typeid</string>
                            <string>typename</string>
                            <string>using</string>
                            <string>virtual</string>
                            <string>and_eq</string>
                            <string>and</string>
                            <string>bitand</string>
                            <string>bitor</string>
                            <string>compl</string>
                            <string>not_eq</string>
                            <string>not</string>
                            <string>or_eq</string>
                            <string>or</string>
                            <string>xor_eq</string>
                            <string>xor</string>
                            <string>bad_cast</string>
                            <string>bad_typeid</string>
                            <string>except</string>
                            <string>finally</string>
                            <string>type_info</string>
                            <string>xalloc</string>
                            <string>Q_EXPORT</string>
                            <string>Q_OBJECT</string>
                            <string>K_DCOP</string>
                            <string>SLOT</string>
                            <string>SIGNAL</string>
                            <string>slots</string>
                            <string>signals</string>
                            <string>Q_PROPERTY</string>
                            <string>Q_ENUMS</string>
                            <string>Q_SETS</string>
                            <string>Q_OVERRIDE</string>
                            <string>Q_CLASSINFO</string>
                            <string>TRUE</string>
                            <string>FALSE</string>
                            <string>break</string>
                            <string>case</string>
                            <string>continue</string>
                            <string>default</string>
                            <string>do</string>
                            <string>else</string>
                            <string>enum</string>
                            <string>extern</string>
                            <string>for</string>
                            <string>goto</string>
                            <string>if</string>
                            <string>return</string>
                            <string>sizeof</string>
                            <string>struct</string>
                            <string>switch</string>
                            <string>typedef</string>
                            <string>union</string>
                            <string>while</string>
                            <string>connect</string>
                            <string>asm</string>
                            <string>export</string>
                            <string>bool</string>
                            <string>wchar_t</string>
                            <string>mutable</string>
                            <string>uint</string>
                            <string>auto</string>
                            <string>char</string>
                            <string>const</string>
                            <string>double</string>
                            <string>float</string>
                            <string>int</string>
                            <string>long</string>
                            <string>register</string>
                            <string>short</string>
                            <string>signed</string>
                            <string>static</string>
                            <string>unsigned</string>
                            <string>void</string>
                            <string>volatile</string>
                            <string>int16_t</string>
                            <string>int32_t</string>
                            <string>int8_t</string>
                            <string>int64_t</string>
                            <string>uint16_t</string>
                            <string>uint32_t</string>
                            <string>uint8_t</string>
                            <string>uint64_t</string>
                            <string>UInt32</string>
                            <string>UInt16</string>
                            <string>UInt8</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Strings</string>
                        <key>Regular Expressions</key>
			<array>
				<string>(@"(\\"|[^"])*")</string>
				<string>("(\\"|[^"])*")</string>
			</array>

		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.40784299373626709</real>
				<real>0.21961000561714172</real>
				<real>0.12940999865531921</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Regular Expressions</key>
			<array>
				<string>(^[ 	]*#([^[:cntrl:]]|	)*)</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<true/>
                        <key>Comment</key>
			<true/>
			<key>Multiline Begin</key>
			<string>/*</string>
			<key>Multiline End</key>
			<string>*/</string>
			<key>Name</key>
			<string>Multiline Comments</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<false/>
                        <key>Comment</key>
			<true/>
			<key>Name</key>
			<string>Comments</string>
			<key>Regular Expressions</key>
			<array>
				<string>(//([^[:cntrl:]]|	)*)</string>			
                        </array>
		</dict>
                <dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Strings with Slashes</string>
                        <key>Regular Expressions</key>
			<array>
				<string>^[^//]*("(\\"|[^"])*(//)+(\\"|[^"])*")</string>
			</array>

		</dict>
	</array>
</dict>
</plist>
