<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>tex,latex,ltx</string>
		<key>Function Modifiers</key>
		<array>
			<dict>
				<key>Replace</key>
				<string>\\chapter</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>\\section</string>
				<key>With</key>
				<string> -</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>\\subsection</string>
				<key>With</key>
				<string>  +</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>\\subsubsection</string>
				<key>With</key>
				<string>   -</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>\\paragraph</string>
				<key>With</key>
				<string>    +</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>\\subparagraph</string>
				<key>With</key>
				<string>     -</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>(\*|{|}|\[|\])</string>
				<key>With</key>
				<string></string>
			</dict>
		</array>
		<key>Functions Regular Expression</key>
		<string>(\\chapter[^}]*}|\\section[^}]*}|\\subsection[^}]*}|\\subsubsection[^}]*}|\\paragraph[^}]*}|\\subparagraph[^}]*})</string>
		<key>Name</key>
		<string>LaTeX</string>
		<key>Valid Characters for Variables</key>
		<string>_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.0</real>
				<real>0.5</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Functions</string>
			<key>Regular Expressions</key>
			<array>
                            <string>((\[[A-Za-z0-9,\. ]*\])?{[^}]*})</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                            <string>\\\\</string>
                            <string>\\mu</string>
                            <string>\\multline</string>
                            <string>\\nu</string>
                            <string>\\psi</string>
                            <string>\\phi</string>
                            <string>\\varphi</string>
                            <string>\\pi</string>
                            <string>\\epsilon</string>
                            <string>\\sigma</string>
                            <string>\\eta</string>
                            <string>\\left</string>
                            <string>\\right</string>
                            <string>\\partial</string>
                            <string>\\ldots</string>
                            <string>\\abovedisplayskip</string>
                            <string>\\abovedisplayshortskip</string>
                            <string>\\abstract</string>
                            <string>\\acute</string>
                            <string>\\addcontentsline</string>
                            <string>\\address</string>
                            <string>\\addtocontents</string>
                            <string>\\addtocounter</string>
                            <string>\\addtolength</string>
                            <string>\\addvspace</string>
                            <string>\\Alph</string>
                            <string>\\alph</string>
                            <string>\\alpha</string>
                            <string>\\and</string>
                            <string>\\appendix</string>
                            <string>\\arabic</string>
                            <string>\\array</string>
                            <string>\\arraycolsep</string>
                            <string>\\arrayrulewidth</string>
                            <string>\\arraystretch</string>
                            <string>\\author</string>
                            <string>\\bar</string>
                            <string>\\baselineskip</string>
                            <string>\\baselinestretch</string>
                            <string>\\begin</string>
                            <string>\\belowdisplayskip</string>
                            <string>\\belowdisplayshortskip</string>
                            <string>\\bf</string>
                            <string>\\bibstring</string>
                            <string>\\bigskip</string>
                            <string>\\bigskipamount</string>
                            <string>\\boldmath</string>
                            <string>\\bottomfraction</string>
                            <string>\\bottomnumber</string>
                            <string>\\breve</string>
                            <string>\\cal</string>
                            <string>\\caption</string>
                            <string>\\cc</string>
                            <string>\\cdot</string>
                            <string>\\center</string>
                            <string>\\centering</string>
                            <string>\\centerline</string>
                            <string>\\chapter</string>
                            <string>\\check</string>
                            <string>\\circle</string>
                            <string>\\cite</string>
                            <string>\\cleardoublepage</string>
                            <string>\\clearpage</string>
                            <string>\\cline</string>
                            <string>\\closing</string>
                            <string>\\columnsep</string>
                            <string>\\columnseprule</string>
                            <string>\\dashbox</string>
                            <string>\\date</string>
                            <string>\\dblfloatpagefraction</string>
                            <string>\\dblfloatsep</string>
                            <string>\\dbltextfloatsep</string>
                            <string>\\dbltopfraction</string>
                            <string>\\dbltopnumber</string>
                            <string>\\ddot</string>
                            <string>\\description</string>
                            <string>\\discretionary</string>
                            <string>\\displaymath</string>
                            <string>\\displaystyle</string>
                            <string>\\document</string>
                            <string>\\documentclass</string>
                            <string>\\documentstyle</string>
                            <string>\\dot</string>
                            <string>\\dotfill</string>
                            <string>\\doublerulesep</string>
                            <string>\\end</string>
                            <string>\\em</string>
                            <string>\\emph</string>
                            <string>\\encl</string>
                            <string>\\enumerate</string>
                            <string>\\eqnarray</string>
                            <string>\\equation</string>
                            <string>\\evensidemargin</string>
                            <string>\\extracolsep</string>
                            <string>\\fbox</string>
                            <string>\\fboxrule</string>
                            <string>\\fboxsep</string>
                            <string>\\figure</string>
                            <string>\\fill</string>
                            <string>\\floatpagefraction</string>
                            <string>\\floatsep</string>
                            <string>\\flushbottom</string>
                            <string>\\flushleft</string>
                            <string>\\flushright</string>
                            <string>\\fnsymbol</string>
                            <string>\\footheight</string>
                            <string>\\footnote</string>
                            <string>\\footnotemark</string>
                            <string>\\footnotesep</string>
                            <string>\\footnotesize</string>
                            <string>\\footnotetext</string>
                            <string>\\footskip</string>
                            <string>\\frac</string>
                            <string>\\frame</string>
                            <string>\\framebox</string>
                            <string>\\frenchspacing</string>
                            <string>\\fussy</string>
                            <string>\\fussypar</string>
                            <string>\\grave</string>
                            <string>\\hat</string>
                            <string>\\headheight</string>
                            <string>\\headsep</string>
                            <string>\\hfill</string>
                            <string>\\hline</string>
                            <string>\\hoffset</string>
                            <string>\\hrulefill</string>
                            <string>\\hspace</string>
                            <string>\\Huge</string>
                            <string>\\huge</string>
                            <string>\\imath</string>
                            <string>\\include</string>
                            <string>\\includeonly</string>
                            <string>\\indent</string>
                            <string>\\input</string>
                            <string>\\intextsep</string>
                            <string>\\int</string>
                            <string>\\it</string>
                            <string>\\item</string>
                            <string>\\string</string>
                            <string>\\stringize</string>
                            <string>\\stringsep</string>
                            <string>\\jmath</string>
                            <string>\\jot</string>
                            <string>\\kill</string>
                            <string>\\label</string>
                            <string>\\LARGE</string>
                            <string>\\Large</string>
                            <string>\\large</string>
                            <string>\\LaTeX</string>
                            <string>\\LaTeXe</string>
                            <string>\\letter</string>
                            <string>\\line</string>
                            <string>\\linebreak</string>
                            <string>\\linethickness</string>
                            <string>\\listoffigures</string>
                            <string>\\listoftables</string>
                            <string>\\makebox</string>
                            <string>\\maketitle</string>
                            <string>\\marginpar</string>
                            <string>\\marginparpush</string>
                            <string>\\marginparsep</string>
                            <string>\\marginparwidth</string>
                            <string>\\markboth</string>
                            <string>\\markright</string>
                            <string>\\math</string>
                            <string>\\mathindent</string>
                            <string>\\mbox</string>
                            <string>\\medskip</string>
                            <string>\\medskipamount</string>
                            <string>\\minipage</string>
                            <string>\\multicolumn</string>
                            <string>\\multiput</string>
                            <string>\\name</string>
                            <string>\\newcommand</string>
                            <string>\\newcounter</string>
                            <string>\\newenvironment</string>
                            <string>\\newfont</string>
                            <string>\\newlength</string>
                            <string>\\newline</string>
                            <string>\\newpage</string>
                            <string>\\newsavebox</string>
                            <string>\\newtheorem</string>
                            <string>\\noindent</string>
                            <string>\\nolinebreak</string>
                            <string>\\nonfrenchspacing</string>
                            <string>\\nonumber</string>
                            <string>\\nopagebreak</string>
                            <string>\\normalmarginpar</string>
                            <string>\\normalsize</string>
                            <string>\\numberline</string>
                            <string>\\oddsidemargin</string>
                            <string>\\onecolumn</string>
                            <string>\\opening</string>
                            <string>\\oval</string>
                            <string>\\overbrace</string>
                            <string>\\overline</string>
                            <string>\\pagebreak</string>
                            <string>\\pagenumbering</string>
                            <string>\\pageref</string>
                            <string>\\pagestyle</string>
                            <string>\\par</string>
                            <string>\\paragraph</string>
                            <string>\\parbox</string>
                            <string>\\parindent</string>
                            <string>\\parsep</string>
                            <string>\\parskip</string>
                            <string>\\part</string>
                            <string>\\picture</string>
                            <string>\\poptabs</string>
                            <string>\\protect</string>
                            <string>\\ps</string>
                            <string>\\pushtabs</string>
                            <string>\\put</string>
                            <string>\\quotation</string>
                            <string>\\quote</string>
                            <string>\\quad</string>
                            <string>\\raggedbottom</string>
                            <string>\\raggedleft</string>
                            <string>\\raggedright</string>
                            <string>\\raisebox</string>
                            <string>\\ref</string>
                            <string>\\resizebox</string>
                            <string>\\refstepcounter</string>
                            <string>\\renewcommand</string>
                            <string>\\renewenvironment</string>
                            <string>\\reversemarginpar</string>
                            <string>\\rm</string>
                            <string>\\Roman</string>
                            <string>\\roman</string>
                            <string>\\rule</string>
                            <string>\\samepage</string>
                            <string>\\savebox</string>
                            <string>\\sbox</string>
                            <string>\\sc</string>
                            <string>\\scriptscriptstyle</string>
                            <string>\\scriptsize</string>
                            <string>\\scriptstyle</string>
                            <string>\\section</string>
                            <string>\\subsection</string>
                            <string>\\subsubsection</string>
                            <string>\\setcounter</string>
                            <string>\\setlanguage</string>
                            <string>\\setlength</string>
                            <string>\\settowidth</string>
                            <string>\\sf</string>
                            <string>\\shortstack</string>
                            <string>\\signature</string>
                            <string>\\sl</string>
                            <string>\\sloppy</string>
                            <string>\\sloppypar</string>
                            <string>\\small</string>
                            <string>\\smallskip</string>
                            <string>\\smallskipamount</string>
                            <string>\\sqrt</string>
                            <string>\\stackrel</string>
                            <string>\\stepcounter</string>
                            <string>\\subparagraph</string>
                            <string>\\symbol</string>
                            <string>\\tabbing</string>
                            <string>\\tabbingsep</string>
                            <string>\\tabcolsep</string>
                            <string>\\table</string>
                            <string>\\tableofcontents</string>
                            <string>\\tabular</string>
                            <string>\\TeX</string>
                            <string>\\textbf</string>
                            <string>\\textit</string>
                            <string>\\textfraction</string>
                            <string>\\textfloatsep</string>
                            <string>\\textheight</string>
                            <string>\\textmd</string>
                            <string>\\textrm</string>
                            <string>\\textsc</string>
                            <string>\\textsf</string>
                            <string>\\textsl</string>
                            <string>\\textstyle</string>
                            <string>\\texttt</string>
                            <string>\\textup</string>
                            <string>\\textwidth</string>
                            <string>\\thanks</string>
                            <string>\\thebibliography</string>
                            <string>\\thicklines</string>
                            <string>\\thinlines</string>
                            <string>\\thispagestyle</string>
                            <string>\\tilde</string>
                            <string>\\tiny</string>
                            <string>\\title</string>
                            <string>\\titlepage</string>
                            <string>\\today</string>
                            <string>\\topfraction</string>
                            <string>\\topmargin</string>
                            <string>\\topnumber</string>
                            <string>\\topsep</string>
                            <string>\\topskip</string>
                            <string>\\totalnumber</string>
                            <string>\\tt</string>
                            <string>\\twocolumn</string>
                            <string>\\typein</string>
                            <string>\\typeout</string>
                            <string>\\unboldmath</string>
                            <string>\\underbrace</string>
                            <string>\\underline</string>
                            <string>\\unitlength</string>
                            <string>\\usebox</string>
                            <string>\\usepackage</string>
                            <string>\\value</string>
                            <string>\\vec</string>
                            <string>\\vector</string>
                            <string>\\verb</string>
                            <string>\\verbatim</string>
                            <string>\\verse</string>
                            <string>\\vfill</string>
                            <string>\\vline</string>
                            <string>\\voffset</string>
                            <string>\\vspace</string>
                            <string>\\widehat</string>
                            <string>\\widetilde</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Name</key>
			<string>Comments</string>
			<key>Regular Expressions</key>
			<array>
				<string>[^\](%([^[:cntrl:]]|	)*)</string>			
				<string>(^%([^[:cntrl:]]|	)*)</string>			
			</array>
		</dict>
	</array>
</dict>
</plist>
