<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>pas,p,pp</string>
		<key>Function Modifiers</key>
		<array>
			<dict>
				<!-- Remove the procedure/function/operator/constructor/destructor identifier -->
				<key>Replace</key>
				<string>(([Pp][Rr][Oo][Cc][Ee][Dd][Uu][Rr][Ee])|([Ff][Uu][Nn][Cc][Tt][Ii][Oo][Nn])|([Oo][Pp][Ee][Rr][Aa][Tt][Oo][Rr])|((([Cc][Oo][Nn])|([Dd][Ee]))[Ss][Tt][Rr][Uu][Cc][Tt][Oo][Rr]))[[:space:]]+</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<!-- Remove all blank space -->
				<key>Replace</key>
				<string>[[:space:]]+</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<!-- Remove the first parameter(s), but leave its (their) type -->
				<key>Replace</key>
				<string>\([^:]+:</string>
				<key>With</key>
				<string>(</string>
			</dict>
			<dict>
				<!-- Remove the other parameters, but also leave their types -->
				<key>Replace</key>
				<string>;[^:]+:</string>
				<key>With</key>
				<string>;</string>
			</dict>
			<dict>
				<!-- Remove the function result name of overloaded operators -->
				<key>Replace</key>
				<string>\)[^:]+</string>
				<key>With</key>
				<string>)</string>
			</dict>
			<dict>
				<!-- Remove the semi-colon at the end of the declaration -->
				<key>Replace</key>
				<string>;$</string>
				<key>With</key>
				<string></string>
			</dict>
		</array>
		<key>Functions Regular Expression</key>
		<!-- Recognises procedure/function/operator/constructor/destructor. The special characters allowed in the "function" name are for operator support -->
		<string>
[ 	]*(([Pp][Rr][Oo][Cc][Ee][Dd][Uu][Rr][Ee])|([Ff][Uu][Nn][Cc][Tt][Ii][Oo][Nn])|([Oo][Pp][Ee][Rr][Aa][Tt][Oo][Rr])|((([Cc][Oo][Nn])|([Dd][Ee]))[Ss][Tt][Rr][Uu][Cc][Tt][Oo][Rr]))[[:space:]]+[A-Za-z0:=*/+-9_.]+[[:space:]]*(\([^)]*\))?[[:space:]]*(([A-Za-z0-9_]+[[:space:]]*)?:[[:space:]]*[A-Za-z_][A-Za-z0-9_]*)?;</string>
		<key>Name</key>
		<string>Pascal</string>
		<key>Valid Characters for Variables</key>
		<string>_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Numbers</string>
			<key>Plain Strings</key>
			<array>
				<string>[+-]?(\$[0-9A-Fa-f]+)|(%[01]+)|([0-9]+)((\.[0-9]+)?([Ee][+-]?[0-9]+))?</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                            <string>and</string>
                            <string>array</string>
                            <string>asm</string>
                            <string>begin</string>
                            <string>case</string>
                            <string>const</string>
                            <string>div</string>
                            <string>do</string>
                            <string>downto</string>
                            <string>else</string>
                            <string>end</string>
                            <string>for</string>
                            <string>function</string>
                            <string>goto</string>
                            <string>if</string>
                            <string>implementation</string>
                            <string>in</string>
                            <string>interface</string>
                            <string>label</string>
                            <string>mod</string>
                            <string>nil</string>
                            <string>not</string>
                            <string>of</string>
                            <string>on</string>
                            <string>operator</string>
                            <string>or</string>
                            <string>packed</string>
                            <string>procedure</string>
                            <string>program</string>
                            <string>record</string>
                            <string>repeat</string>
                            <string>self</string>
                            <string>set</string>
                            <string>shl</string>
                            <string>shr</string>
                            <string>then</string>
                            <string>to</string>
                            <string>type</string>
                            <string>unit</string>
                            <string>until</string>
                            <string>uses</string>
                            <string>var</string>
                            <string>while</string>
                            <string>with</string>
                            <string>xor</string>
                            <string>break</string>
                            <string>continue</string>
                            <string>constructor</string>
                            <string>destructor</string>
                            <string>inherited</string>
                            <string>inline</string>
                            <string>object</string>
                            <string>private</string>
                            <string>protected</string>
                            <string>public</string>
                            <string>as</string>
                            <string>at</string>
                            <string>automated</string>
                            <string>class</string>
                            <string>dispinterface</string>
                            <string>except</string>
                            <string>exports</string>
                            <string>finalization</string>
                            <string>finally</string>
                            <string>initialization</string>
                            <string>is</string>
                            <string>library</string>
                            <string>on</string>
                            <string>property</string>
                            <string>published</string>
                            <string>raise</string>
                            <string>resourcestring</string>
                            <string>threadvar</string>
                            <string>try</string>
                            <string>dispose</string>
                            <string>exit</string>
                            <string>false</string>
                            <string>new</string>
                            <string>true</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.0</real>
				<real>0.5</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Functions</string>
			<key>Plain Strings</key>
			<array>
                            <string>Integer</string>
                            <string>Cardinal</string>
                            <string>ShortInt</string>
                            <string>SmallInt</string>
                            <string>LongInt</string>
                            <string>Int64</string>
                            <string>Byte</string>
                            <string>Word</string>
                            <string>LongWord</string>
                            <string>Char</string>
                            <string>AnsiChar</string>
                            <string>WideChar</string>
                            <string>Boolean</string>
                            <string>ByteBool</string>
                            <string>WordBool</string>
                            <string>LongBool</string>
                            <string>Single</string>
                            <string>Double</string>
                            <string>Extended</string>
                            <string>Comp</string>
                            <string>Currency</string>
                            <string>Real</string>
                            <string>Real48</string>
                            <string>String</string>
                            <string>ShortString</string>
                            <string>AnsiString</string>
                            <string>WideString</string>
                            <string>Pointer</string>
                            <string>Variant</string>
                            <string>File</string>
                            <string>Text</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Name</key>
			<string>Strings</string>
			<key>Regular Expressions</key>
			<array>
				<string>('(\\'|[^'])*')</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<true/>
                        <key>Comment</key>
			<true/>
			<key>Multiline Begin</key>
			<string>(*</string>
			<key>Multiline End</key>
			<string>*)</string>
			<key>Name</key>
			<string>Multiline Comments</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<true/>
                        <key>Comment</key>
			<true/>
			<key>Multiline Begin</key>
			<string>{</string>
			<key>Multiline End</key>
			<string>}</string>
			<key>Name</key>
			<string>Multiline Comments Curly</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Comment</key>
			<true/>
			<key>Name</key>
			<string>SlashComments</string>
			<key>Regular Expressions</key>
			<array>
				<string>(//([^[:cntrl:]]|	)*)</string>			
			</array>
		</dict>
                <dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Strings with Slashes</string>
                        <key>Regular Expressions</key>
			<array>
				<string>^[^//]*('(\\'|[^'])*(//)+(\\'|[^'])*')</string>
			</array>

		</dict>
	</array>
</dict>
</plist>
