<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>sh,csh,tcsh</string>
		<key>Name</key>
		<string>tcsh</string>
		<key>Valid Characters for Variables</key>
		<string>$_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Numbers</string>
			<key>Plain Strings</key>
			<array>
				<string>[0-9]*\.*[0-9]+</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                <string>if</string>
                <string>then</string>
                <string>fi</string>
                <string>else</string>
                <string>elif</string>
                <string>for</string>
                <string>in</string>
                <string>do</string>
                <string>done</string>
                <string>while</string>
                <string>until</string>
                <string>alias</string>
                <string>bg</string>
                <string>break</string>
                <string>breaksw</string>
                <string>case</string>
                <string>cd</string>
                <string>chdir</string>
                <string>continue</string>
                <string>default</string>
                <string>dirs</string>
                <string>echo</string>
                <string>end</string>
                <string>endif</string>
                <string>eval</string>
                <string>exec</string>
                <string>exit</string>
                <string>fg</string>
                <string>foreach</string>
                <string>glob</string>
                <string>goto</string>
                <string>hashstat</string>
                <string>history</string>
                <string>if</string>
                <string>jobs</string>
                <string>kill</string>
                <string>limit</string>
                <string>login</string>
                <string>logout</string>
                <string>nice</string>
                <string>nohup</string>
                <string>notify</string>
                <string>onintr</string>
                <string>popd</string>
                <string>pushd</string>
                <string>rehash</string>
                <string>repeat</string>
                <string>set</string>
                <string>setenv</string>
                <string>shift</string>
                <string>source</string>
                <string>stop</string>
                <string>suspend</string>
                <string>switch</string>
                <string>time</string>
                <string>umask</string>
                <string>unalias</string>
                <string>unhash</string>
                <string>unlimit</string>
                <string>unset</string>
                <string>unsetenv</string>
                <string>wait</string>
                <string>while</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.40784299373626709</real>
				<real>0.21961000561714172</real>
				<real>0.12940999865531921</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Pragmas</string>
                        <key>Plain Strings</key>
			<array>
                    <string>HOME</string>
                    <string>PATH</string>
                    <string>TERM</string>
                    <string>USER</string>
                    <string>EXITIN</string>
                    <string>LOGNAME</string>
                    <string>MAIL</string>
                    <string>PWD</string>
                    <string>SHELL</string>
                    <string>TERMCAP</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.0</real>
				<real>0.5</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Functions</string>
			<key>Plain Strings</key>
			<array>
                <string>admin</string>
                <string>apropos</string>
                <string>ar</string>
                <string>as</string>
                <string>at</string>
                <string>atq</string>
                <string>atrm</string>
                <string>awk</string>
                <string>banner</string>
                <string>basename</string>
                <string>batch</string>
                <string>bc</string>
                <string>bdiff</string>
                <string>bfs</string>
                <string>cal</string>
                <string>calender</string>
                <string>cancel</string>
                <string>cat</string>
                <string>cb</string>
                <string>cc</string>
                <string>cdc</string>
                <string>cflow</string>
                <string>chgrp</string>
                <string>chkey</string>
                <string>chmod</string>
                <string>chown</string>
                <string>clear</string>
                <string>cmp</string>
                <string>cof2elf</string>
                <string>col</string>
                <string>comb</string>
                <string>comm</string>
                <string>compress</string>
                <string>cp</string>
                <string>cpio</string>
                <string>crontab</string>
                <string>crypt</string>
                <string>cscope</string>
                <string>csh</string>
                <string>csplit</string>
                <string>ctags</string>
                <string>ctrace</string>
                <string>cu</string>
                <string>cut</string>
                <string>cxref</string>
                <string>date</string>
                <string>dbx</string>
                <string>dc</string>
                <string>dd</string>
                <string>delta</string>
                <string>deroff</string>
                <string>df</string>
                <string>diff</string>
                <string>diff3</string>
                <string>diffmk</string>
                <string>dircmp</string>
                <string>dirname</string>
                <string>dis</string>
                <string>download</string>
                <string>dpost</string>
                <string>dpost</string>
                <string>du</string>
                <string>ed</string>
                <string>edit</string>
                <string>egrep</string>
                <string>env</string>
                <string>eqn</string>
                <string>ex</string>
                <string>expr</string>
                <string>exstr</string>
                <string>face</string>
                <string>factor</string>
                <string>false</string>
                <string>fgrep</string>
                <string>file</string>
                <string>find</string>
                <string>finger</string>
                <string>fmli</string>
                <string>fmt</string>
                <string>fmtmsg</string>
                <string>fold</string>
                <string>ftp</string>
                <string>gcore</string>
                <string>gencat</string>
                <string>get</string>
                <string>getopts</string>
                <string>gettxt</string>
                <string>gprof</string>
                <string>grep</string>
                <string>groups</string>
                <string>head</string>
                <string>help</string>
                <string>hostid</string>
                <string>hostname</string>
                <string>iconv</string>
                <string>id</string>
                <string>install</string>
                <string>ipcrm</string>
                <string>ipcs</string>
                <string>ismpx</string>
                <string>join</string>
                <string>jsh</string>
                <string>jterm</string>
                <string>jwin</string>
                <string>keylogin</string>
                <string>keylogout</string>
                <string>ksh</string>
                <string>layers</string>
                <string>ld</string>
                <string>ldd</string>
                <string>lex</string>
                <string>line</string>
                <string>lint</string>
                <string>ln</string>
                <string>logname</string>
                <string>lorder</string>
                <string>lp</string>
                <string>lpq</string>
                <string>lpr</string>
                <string>lprm</string>
                <string>lprof</string>
                <string>lpstat</string>
                <string>lptest</string>
                <string>ls</string>
                <string>m4</string>
                <string>mail</string>
                <string>mailalias</string>
                <string>mailx</string>
                <string>make</string>
                <string>makekey</string>
                <string>man</string>
                <string>mcs</string>
                <string>mesg</string>
                <string>mkdir</string>
                <string>mkmsgs</string>
                <string>more</string>
                <string>mv</string>
                <string>nawk</string>
                <string>newform</string>
                <string>newgrp</string>
                <string>news</string>
                <string>nl</string>
                <string>nm</string>
                <string>nroff</string>
                <string>od</string>
                <string>openwin</string>
                <string>pack</string>
                <string>page</string>
                <string>passwd</string>
                <string>paste</string>
                <string>pcat</string>
                <string>pg</string>
                <string>pic</string>
                <string>pr</string>
                <string>printenv</string>
                <string>printf</string>
                <string>prof</string>
                <string>prs</string>
                <string>ps</string>
                <string>ptx</string>
                <string>pwd</string>
                <string>rcp</string>
                <string>red</string>
                <string>regcmp</string>
                <string>relogin</string>
                <string>reset</string>
                <string>rksh</string>
                <string>rlogin</string>
                <string>rm</string>
                <string>rmdel</string>
                <string>rmdir</string>
                <string>rsh</string>
                <string>ruptime</string>
                <string>rwho</string>
                <string>sact</string>
                <string>sccs</string>
                <string>sccsdiff</string>
                <string>script</string>
                <string>sdb</string>
                <string>sdiff</string>
                <string>sed</string>
                <string>sh</string>
                <string>shl</string>
                <string>shutdown</string>
                <string>size</string>
                <string>sleep</string>
                <string>soelim</string>
                <string>sort</string>
                <string>spell</string>
                <string>split</string>
                <string>srchtxt</string>
                <string>strings</string>
                <string>strip</string>
                <string>stty</string>
                <string>su</string>
                <string>sum</string>
                <string>tabs</string>
                <string>tail</string>
                <string>talk</string>
                <string>tar</string>
                <string>tbl</string>
                <string>tee</string>
                <string>telnet</string>
                <string>test</string>
                <string>timex</string>
                <string>touch</string>
                <string>tput</string>
                <string>tr</string>
                <string>troff</string>
                <string>true</string>
                <string>truss</string>
                <string>tset</string>
                <string>tsort</string>
                <string>tty</string>
                <string>uname</string>
                <string>uncompress</string>
                <string>unget</string>
                <string>uniq</string>
                <string>units</string>
                <string>unpack</string>
                <string>uptime</string>
                <string>users</string>
                <string>uucp</string>
                <string>uudecode</string>
                <string>uuencode</string>
                <string>uuglist</string>
                <string>uulog</string>
                <string>uuname</string>
                <string>uupick</string>
                <string>uustat</string>
                <string>uuto</string>
                <string>uux</string>
                <string>vacation</string>
                <string>val</string>
                <string>vc</string>
                <string>vedit</string>
                <string>vi</string>
                <string>view</string>
                <string>w</string>
                <string>wall</string>
                <string>wc</string>
                <string>what</string>
                <string>whatis</string>
                <string>which</string>
                <string>who</string>
                <string>whoami</string>
                <string>whois</string>
                <string>write</string>
                <string>xargs</string>
                <string>yacc</string>
                <string>zcat</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Name</key>
			<string>Strings</string>
			<key>Regular Expressions</key>
			<array>
				<string>("(\\"|[^"])*")</string>
				<string>('(\\'|[^'])*')</string>
				<string>`[^`]*`</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Name</key>
			<string>Comments</string>
                        <key>Comment</key>
			<true/>
			<key>Regular Expressions</key>
			<array>
				<string>[^\$\\](#([^[:cntrl:]]|	)*)</string>			
				<string>(^#([^[:cntrl:]]|	)*)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
