subethaedit/CrashReporter/CrashReporter.xcodeproj/*.mode2
subethaedit/CrashReporter/CrashReporter.xcodeproj/*.pbxuser
subethaedit/CrashReporter/CrashReporter.xcodeproj/*.perspective
subethaedit/OgreKit/RegularExpression/oniguruma/intel
subethaedit/OgreKit/RegularExpression/oniguruma/ppc
subethaedit/OgreKit/RegularExpression/oniguruma/universal
subethaedit/PSMTabBarControl/PSMTabBarControl.xcodeproj/*.mode2
subethaedit/PSMTabBarControl/PSMTabBarControl.xcodeproj/*.pbxuser
subethaedit/Sparkle/Sparkle.xcodeproj/*.mode2
subethaedit/Sparkle/Sparkle.xcodeproj/*.pbxuser
subethaedit/SubEthaEdit-PantherScripting.r
subethaedit/SubEthaEdit.xcodeproj/*.mode1
subethaedit/SubEthaEdit.xcodeproj/*.mode2
subethaedit/SubEthaEdit.xcodeproj/*.pbxuser
subethaedit/SubEthaEditScripting.r
subethaedit/SubEthaEditSuite.scriptSuite
subethaedit/SubEthaEditSuite.scriptTerminology
subethaedit/TCMTextSuite.scriptSuite
subethaedit/TCMTextSuite.scriptTerminology
