[submodule "PSMTabBarControl"]
	path = PSMTabBarControl
url=git@github.com:codingmonkeys/PSMTabBarControl.git
[submodule "OgreKit"]
	path = OgreKit
	url = git@github.com:codingmonkeys/OgreKit.git
[submodule "UniversalDetector"]
	path = UniversalDetector
	url = git@github.com:codingmonkeys/UniversalDetector.git
