[submodule "PSMTabBarControl"]
	path = PSMTabBarControl
	url  = https://github.com/codingmonkeys/PSMTabBarControl.git
[submodule "OgreKit"]
	path = OgreKit
	url  = https://github.com/codingmonkeys/OgreKit.git
[submodule "UniversalDetector"]
	path = UniversalDetector
	url  = https://github.com/codingmonkeys/UniversalDetector.git
[submodule "HockeySDK-Mac"]
	path = HockeySDK-Mac
	url  = https://github.com/codingmonkeys/HockeySDK-Mac.git
