* text=auto !eol
artwork/mockups/RendezvousBrowser.psd -text
artwork/mockups/RendezvousBrowser2.psd -text
documentation/connection-channel-bla.jpg -text
documentation/session-lifcycle.jpg -text
documentation/whiteboard-1411.jpg -text
prototype/BEEPSample/BEEPChannel.h -text
prototype/BEEPSample/BEEPChannel.m -text
prototype/BEEPSample/BEEPListener.h -text
prototype/BEEPSample/BEEPListener.m -text
prototype/BEEPSample/BEEPSample.xcode/mbo.pbxuser -text
prototype/BEEPSample/BEEPSample.xcode/project.pbxproj -text
prototype/BEEPSample/BEEPSample_Prefix.pch -text
prototype/BEEPSample/BEEPSession.h -text
prototype/BEEPSample/BEEPSession.m -text
prototype/BEEPSample/Controller.h -text
prototype/BEEPSample/Controller.m -text
prototype/BEEPSample/English.lproj/InfoPlist.strings -text
prototype/BEEPSample/English.lproj/MainMenu.nib/classes.nib -text
prototype/BEEPSample/English.lproj/MainMenu.nib/info.nib -text
prototype/BEEPSample/English.lproj/MainMenu.nib/objects.nib -text
prototype/BEEPSample/Info.plist -text
prototype/BEEPSample/main.m -text
prototype/ExpatSimple/ExpatSimple.1 -text
prototype/ExpatSimple/ExpatSimple.xcode/project.pbxproj -text
prototype/ExpatSimple/ExpatSimple_Prefix.pch -text
prototype/ExpatSimple/expat.h -text
prototype/ExpatSimple/libexpat.a -text
prototype/ExpatSimple/main.m -text
prototype/RendezCon/Add.tiff -text
prototype/RendezCon/Add_Pressed.tiff -text
prototype/RendezCon/AvailableServicesController.h -text
prototype/RendezCon/AvailableServicesController.m -text
prototype/RendezCon/English.lproj/InfoPlist.strings -text
prototype/RendezCon/English.lproj/MainMenu.nib/classes.nib -text
prototype/RendezCon/English.lproj/MainMenu.nib/info.nib -text
prototype/RendezCon/English.lproj/MainMenu.nib/keyedobjects.nib -text
prototype/RendezCon/English.lproj/locversion.plist -text
prototype/RendezCon/Info.plist -text
prototype/RendezCon/ReleaseNotes.rtf -text
prototype/RendezCon/Remove.tiff -text
prototype/RendezCon/Remove_Pressed.tiff -text
prototype/RendezCon/RendezCon.icns -text
prototype/RendezCon/RendezCon.xcode/project.pbxproj -text
prototype/RendezCon/RendezCon_Prefix.pch -text
prototype/RendezCon/RendezvousBrowserController.h -text
prototype/RendezCon/RendezvousBrowserController.m -text
prototype/RendezCon/initialDefaults.plist -text
prototype/RendezCon/main.m -text
prototype/RendezCon/version.plist -text
prototype/SimpleODOCHandler/ApplicationController.h -text
prototype/SimpleODOCHandler/ApplicationController.m -text
prototype/SimpleODOCHandler/DocumentController.h -text
prototype/SimpleODOCHandler/DocumentController.m -text
prototype/SimpleODOCHandler/English.lproj/Credits.rtf -text
prototype/SimpleODOCHandler/English.lproj/InfoPlist.strings -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/classes.nib -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/info.nib -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/objects.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/classes.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/info.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/objects.nib -text
prototype/SimpleODOCHandler/Info.plist -text
prototype/SimpleODOCHandler/MyDocument.h -text
prototype/SimpleODOCHandler/MyDocument.m -text
prototype/SimpleODOCHandler/SimpleODOCHandler.xcode/project.pbxproj -text
prototype/SimpleODOCHandler/SimpleODOCHandler_Prefix.pch -text
prototype/SimpleODOCHandler/main.m -text
prototype/SimpleODOCHandler/version.plist -text
prototype/TCMXMLParser/ParserDelegate.h -text
prototype/TCMXMLParser/ParserDelegate.m -text
prototype/TCMXMLParser/TCMXMLParser.1 -text
prototype/TCMXMLParser/TCMXMLParser.h -text
prototype/TCMXMLParser/TCMXMLParser.m -text
prototype/TCMXMLParser/TCMXMLParser.xcode/project.pbxproj -text
prototype/TCMXMLParser/TCMXMLParser_Prefix.pch -text
prototype/TCMXMLParser/expat.h -text
prototype/TCMXMLParser/libexpat.a -text
prototype/TCMXMLParser/main.m -text
prototype/XMPP/English.lproj/InfoPlist.strings -text
prototype/XMPP/Info.plist -text
prototype/XMPP/Node.h -text
prototype/XMPP/Node.m -text
prototype/XMPP/XMLParser.h -text
prototype/XMPP/XMLParser.m -text
prototype/XMPP/XMLStream.h -text
prototype/XMPP/XMLStream.m -text
prototype/XMPP/XMPP.xcode/project.pbxproj -text
prototype/XMPP/XMPP_Prefix.pch -text
prototype/XMPP/expat.h -text
prototype/XMPP/libexpat.a -text
prototype/XMPP/main.c -text
prototype/XMPP/version.plist -text
prototype/xmpp-cli/Controller.h -text
prototype/xmpp-cli/Controller.m -text
prototype/xmpp-cli/main.m -text
prototype/xmpp-cli/xmpp.1 -text
prototype/xmpp-cli/xmpp.xcode/project.pbxproj -text
prototype/xmpp-cli/xmpp_Prefix.pch -text
