* text=auto !eol
documentation/whiteboard-1411.jpg -text
prototype/ExpatSimple/ExpatSimple.1 -text
prototype/ExpatSimple/ExpatSimple.xcode/project.pbxproj -text
prototype/ExpatSimple/ExpatSimple_Prefix.pch -text
prototype/ExpatSimple/expat.h -text
prototype/ExpatSimple/libexpat.a -text
prototype/ExpatSimple/main.m -text
prototype/RendezCon/Add.tiff -text
prototype/RendezCon/Add_Pressed.tiff -text
prototype/RendezCon/English.lproj/InfoPlist.strings -text
prototype/RendezCon/English.lproj/MainMenu.nib/classes.nib -text
prototype/RendezCon/English.lproj/MainMenu.nib/info.nib -text
prototype/RendezCon/English.lproj/MainMenu.nib/keyedobjects.nib -text
prototype/RendezCon/English.lproj/locversion.plist -text
prototype/RendezCon/Info.plist -text
prototype/RendezCon/ReleaseNotes.rtf -text
prototype/RendezCon/Remove.tiff -text
prototype/RendezCon/Remove_Pressed.tiff -text
prototype/RendezCon/RendezCon.icns -text
prototype/RendezCon/RendezCon.xcode/project.pbxproj -text
prototype/RendezCon/RendezCon_Prefix.pch -text
prototype/RendezCon/RendezvousBrowserController.h -text
prototype/RendezCon/RendezvousBrowserController.m -text
prototype/RendezCon/initialDefaults.plist -text
prototype/RendezCon/main.m -text
prototype/RendezCon/version.plist -text
prototype/SimpleODOCHandler/ApplicationController.h -text
prototype/SimpleODOCHandler/ApplicationController.m -text
prototype/SimpleODOCHandler/DocumentController.h -text
prototype/SimpleODOCHandler/DocumentController.m -text
prototype/SimpleODOCHandler/English.lproj/Credits.rtf -text
prototype/SimpleODOCHandler/English.lproj/InfoPlist.strings -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/classes.nib -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/info.nib -text
prototype/SimpleODOCHandler/English.lproj/MainMenu.nib/objects.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/classes.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/info.nib -text
prototype/SimpleODOCHandler/English.lproj/MyDocument.nib/objects.nib -text
prototype/SimpleODOCHandler/Info.plist -text
prototype/SimpleODOCHandler/MyDocument.h -text
prototype/SimpleODOCHandler/MyDocument.m -text
prototype/SimpleODOCHandler/SimpleODOCHandler.xcode/project.pbxproj -text
prototype/SimpleODOCHandler/SimpleODOCHandler_Prefix.pch -text
prototype/SimpleODOCHandler/main.m -text
prototype/SimpleODOCHandler/version.plist -text
prototype/TCMXMLParser/ParserDelegate.h -text
prototype/TCMXMLParser/ParserDelegate.m -text
prototype/TCMXMLParser/TCMXMLParser.1 -text
prototype/TCMXMLParser/TCMXMLParser.h -text
prototype/TCMXMLParser/TCMXMLParser.m -text
prototype/TCMXMLParser/TCMXMLParser.xcode/project.pbxproj -text
prototype/TCMXMLParser/TCMXMLParser_Prefix.pch -text
prototype/TCMXMLParser/expat.h -text
prototype/TCMXMLParser/libexpat.a -text
prototype/TCMXMLParser/main.m -text
prototype/xmpp-cli/Controller.h -text
prototype/xmpp-cli/Controller.m -text
prototype/xmpp-cli/Node.h -text
prototype/xmpp-cli/Node.m -text
prototype/xmpp-cli/XMLParser.h -text
prototype/xmpp-cli/XMLParser.m -text
prototype/xmpp-cli/XMLStream.h -text
prototype/xmpp-cli/XMLStream.m -text
prototype/xmpp-cli/expat.h -text
prototype/xmpp-cli/libexpat.a -text
prototype/xmpp-cli/main.m -text
prototype/xmpp-cli/xmpp.1 -text
prototype/xmpp-cli/xmpp.xcode/project.pbxproj -text
prototype/xmpp-cli/xmpp_Prefix.pch -text
