subethaedit/CrashReporter/CrashReporter.xcodeproj/*.mode2
subethaedit/CrashReporter/CrashReporter.xcodeproj/*.pbxuser
subethaedit/CrashReporter/CrashReporter.xcodeproj/*.perspective
subethaedit/SubEthaEdit.xcodeproj/*.mode1
subethaedit/SubEthaEdit.xcodeproj/*.mode2
subethaedit/SubEthaEdit.xcodeproj/*.pbxuser
subethaedit/SubEthaEditScripting.r
subethaedit/SubEthaEditSuite.scriptSuite
subethaedit/SubEthaEditSuite.scriptTerminology
