# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

trigger:
- develop

pool:
  vmImage: 'macos-latest'

steps:
- checkout: self
  submodules: true
- task: Xcode@5
  inputs:
    actions: 'build test'
    scheme: 'SubEthaEdit'
    sdk: 'macosx'
    configuration: 'Release'
    xcWorkspacePath: 'SubEthaEdit.xcworkspace'
    xcodeVersion: 'default' # Options: 8, 9, 10, default, specifyPath
