<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterSerialNumber</key>
	<array>
		<string>purchase</string>
		<string>done</string>
	</array>
	<key>FirstRun</key>
	<array>
		<string>welcome</string>
		<string>license</string>
		<string>installtool</string>
		<string>purchase</string>
		<string>done</string>
	</array>
	<key>Update</key>
	<array>
		<string>whatisnew</string>
		<string>installtool</string>
		<string>purchase</string>
		<string>done</string>
	</array>
    <key>UpdateLicensed</key>
	<array>
		<string>whatisnew</string>
		<string>installtool</string>
	</array>
</dict>
</plist>
