
p	      {
	font-size: 9pt;
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	text-decoration: none }
	
a        {
	color: blue;
	font-size: 9pt;
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	text-decoration: none
	}
	
a:hover  {
	color: blue;
	font-size: 9pt;
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	text-decoration: underline
	}
	
#mainbox	   {
	background-color: #fff;
	margin-top: 30px;
	margin-left: 8px;
	margin-right: 26px;
	position: absolute;
	top: 10px
	}
	
#taskbox  	       {
	background-color: #eee;
	list-style-type: decimal;
	list-style-position: outside;
	margin-top: 12px;
	margin-bottom: 12px;
	border: solid 1px #444
	}
	
#topic {
	font-size: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif
	}
