<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mappingTitle</key>
		<string>SubEtha Engine</string>
		<key>desiredPort</key>
		<integer>6942</integer>
		<key>localPort</key>
		<integer>6942</integer>
		<key>referenceString</key>
		<string>see://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mappingTitle</key>
		<string>VNC</string>
		<key>desiredPort</key>
		<integer>5900</integer>
		<key>localPort</key>
		<integer>5900</integer>
		<key>referenceString</key>
		<string>vnc://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mappingTitle</key>
		<string>Web Server</string>
		<key>desiredPort</key>
		<integer>80</integer>
		<key>localPort</key>
		<integer>80</integer>
		<key>referenceString</key>
		<string>http://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mappingTitle</key>
		<string>Secure Shell</string>
		<key>desiredPort</key>
		<integer>22</integer>
		<key>localPort</key>
		<integer>22</integer>
		<key>referenceString</key>
		<string>ssh://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mappingTitle</key>
		<string>Rails Demo App</string>
		<key>desiredPort</key>
		<integer>3000</integer>
		<key>localPort</key>
		<integer>3000</integer>
		<key>referenceString</key>
		<string>http://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mappingTitle</key>
		<string>IRC Auth/Ident</string>
		<key>desiredPort</key>
		<integer>113</integer>
		<key>localPort</key>
		<integer>113</integer>
		<key>referenceString</key>
		<string>auth://[IP]:[PORT]</string>
		<key>transportProtocol</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
