<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>servicesToBrowseFor</key>
    <array>
        <dict>
            <key>serviceType</key>
            <string>_presence._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_ichat._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_ssh._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_telnet._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_http._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_ftp._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_tftp._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_hydra._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_printer._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_ipp._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_afp._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_eppc._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_afpovertcp._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_smb._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
        <dict>
            <key>serviceType</key>
            <string>_MacOSXDupSuppress._tcp.</string>
            <key>shouldSearchFor</key>
            <true/>
        </dict>
    </array>
</dict>
</plist>