<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>pl,pm</string>
		<key>Function Modifiers</key>
		<array>
			<dict>
				<key>Replace</key>
				<string> +</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>^sub</string>
				<key>With</key>
				<string></string>
			</dict>
                        <dict>
				<key>Replace</key>
				<string>^package</string>
				<key>With</key>
				<string>--- </string>
			</dict>
                        <dict>
				<key>Replace</key>
				<string>;</string>
				<key>With</key>
				<string> ---</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>{</string>
				<key>With</key>
				<string></string>
			</dict>
               </array>
		<key>Functions Regular Expression</key>
		<string>(sub[ ]+[A-Za-z0-9_]+[ [:cntrl:]]*{|package[ ]+[A-Za-z0-9_]+[ [:cntrl:]]*;)</string>
		<key>Name</key>
		<string>Perl</string>
		<key>Valid Characters for Variables</key>
		<string>$_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Numbers</string>
			<key>Plain Strings</key>
			<array>
				<string>[0-9]*\.*[0-9]+</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                            <string>if</string>
                            <string>unless</string>
                            <string>else</string>
                            <string>elsif</string>
                            <string>while</string>
                            <string>until</string>
                            <string>for</string>
                            <string>each</string>
                            <string>foreach</string>
                            <string>next</string>
                            <string>last</string>
                            <string>break</string>
                            <string>continue</string>
                            <string>return</string>
                            <string>use</string>
                            <string>no</string>
                            <string>require</string>
                            <string>my</string>
                            <string>our</string>
                            <string>local</string>
                            <string>BEGIN</string>
                            <string>END</string>
                            <string>require</string>
                            <string>package</string>
                            <string>sub</string>
                            <string>do</string>
                            <string>__END__</string>
                            <string>__DATA__</string>
                            <string>__FILE__</string>
                            <string>__LINE__</string>
                            <string>__PACKAGE__</string>
                            <string>and</string>
                            <string>or</string>
                            <string>not</string>
                            <string>eq</string>
                            <string>ne</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.40784299373626709</real>
				<real>0.21961000561714172</real>
				<real>0.12940999865531921</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Pragmas</string>
                        <key>Plain Strings</key>
			<array>
                            <string>strict</string>
                            <string>english</string>
                            <string>warnings</string>
                            <string>vars</string>
                            <string>subs</string>
                            <string>utf8</string>
                            <string>sigtrap</string>
                            <string>locale</string>
                            <string>open</string>
                            <string>less</string>
                            <string>integer</string>
                            <string>filetest</string>
                            <string>constant</string>
                            <string>bytes</string>
                            <string>diagnostics</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.0</real>
				<real>0.5</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Functions</string>
			<key>Plain Strings</key>
			<array>
                            <string>abs</string>
                            <string>accept</string>
                            <string>alarm</string>
                            <string>atan2</string>
                            <string>bind</string>
                            <string>binmode</string>
                            <string>bless</string>
                            <string>caller</string>
                            <string>chdir</string>
                            <string>chmod</string>
                            <string>chomp</string>
                            <string>chop</string>
                            <string>chown</string>
                            <string>chr</string>
                            <string>chroot</string>
                            <string>close</string>
                            <string>closedir</string>
                            <string>connect</string>
                            <string>cos</string>
                            <string>crypt</string>
                            <string>dbmclose</string>
                            <string>dbmopen</string>
                            <string>defined</string>
                            <string>delete</string>
                            <string>die</string>
                            <string>dump</string>
                            <string>endgrent</string>
                            <string>endhostent</string>
                            <string>endnetent</string>
                            <string>endprotoent</string>
                            <string>endpwent</string>
                            <string>endservent</string>
                            <string>eof</string>
                            <string>eval</string>
                            <string>exec</string>
                            <string>exists</string>
                            <string>exit</string>
                            <string>exp</string>
                            <string>fcntl</string>
                            <string>fileno</string>
                            <string>flock</string>
                            <string>fork</string>
                            <string>format</string>
                            <string>formline</string>
                            <string>getc</string>
                            <string>getgrent</string>
                            <string>getgrgid</string>
                            <string>getgrnam</string>
                            <string>gethostbyaddr</string>
                            <string>gethostbyname</string>
                            <string>gethostent</string>
                            <string>getlogin</string>
                            <string>getnetbyaddr</string>
                            <string>getnetbyname</string>
                            <string>getnetent</string>
                            <string>getpeername</string>
                            <string>getpgrp</string>
                            <string>getppid</string>
                            <string>getpriority</string>
                            <string>getprotobyname</string>
                            <string>getprotobynumber</string>
                            <string>getprotoent</string>
                            <string>getpwent</string>
                            <string>getpwnam</string>
                            <string>getpwuid</string>
                            <string>getservbyname</string>
                            <string>getservbyport</string>
                            <string>getservent</string>
                            <string>getsockname</string>
                            <string>getsockopt</string>
                            <string>glob</string>
                            <string>gmtime</string>
                            <string>goto</string>
                            <string>grep</string>
                            <string>hex</string>
                            <string>import</string>
                            <string>index</string>
                            <string>int</string>
                            <string>ioctl</string>
                            <string>join</string>
                            <string>keys</string>
                            <string>kill</string>
                            <string>last</string>
                            <string>lc</string>
                            <string>lcfirst</string>
                            <string>length</string>
                            <string>link</string>
                            <string>listen</string>
                            <string>localtime</string>
                            <string>lock</string>
                            <string>log</string>
                            <string>lstat</string>
                            <string>map</string>
                            <string>mkdir</string>
                            <string>msgctl</string>
                            <string>msgget</string>
                            <string>msgrcv</string>
                            <string>msgsnd</string>
                            <string>oct</string>
                            <string>open</string>
                            <string>opendir</string>
                            <string>ord</string>
                            <string>pack</string>
                            <string>package</string>
                            <string>pipe</string>
                            <string>pop</string>
                            <string>pos</string>
                            <string>print</string>
                            <string>printf</string>
                            <string>prototype</string>
                            <string>push</string>
                            <string>quotemeta</string>
                            <string>rand</string>
                            <string>read</string>
                            <string>readdir</string>
                            <string>readline</string>
                            <string>readlink</string>
                            <string>recv</string>
                            <string>redo</string>
                            <string>ref</string>
                            <string>rename</string>
                            <string>reset</string>
                            <string>return</string>
                            <string>reverse</string>
                            <string>rewinddir</string>
                            <string>rindex</string>
                            <string>rmdir</string>
                            <string>scalar</string>
                            <string>seek</string>
                            <string>seekdir</string>
                            <string>select</string>
                            <string>semctl</string>
                            <string>semget</string>
                            <string>semop</string>
                            <string>send</string>
                            <string>setgrent</string>
                            <string>sethostent</string>
                            <string>setnetent</string>
                            <string>setpgrp</string>
                            <string>setpriority</string>
                            <string>setprotoent</string>
                            <string>setpwent</string>
                            <string>setservent</string>
                            <string>setsockopt</string>
                            <string>shift</string>
                            <string>shmctl</string>
                            <string>shmget</string>
                            <string>shmread</string>
                            <string>shmwrite</string>
                            <string>shutdown</string>
                            <string>sin</string>
                            <string>sleep</string>
                            <string>socket</string>
                            <string>socketpair</string>
                            <string>sort</string>
                            <string>splice</string>
                            <string>split</string>
                            <string>sprintf</string>
                            <string>sqrt</string>
                            <string>srand</string>
                            <string>stat</string>
                            <string>study</string>
                            <string>sub</string>
                            <string>substr</string>
                            <string>symlink</string>
                            <string>syscall</string>
                            <string>sysread</string>
                            <string>sysseek</string>
                            <string>system</string>
                            <string>syswrite</string>
                            <string>tell</string>
                            <string>telldir</string>
                            <string>tie</string>
                            <string>time</string>
                            <string>times</string>
                            <string>truncate</string>
                            <string>uc</string>
                            <string>ucfirst</string>
                            <string>umask</string>
                            <string>undef</string>
                            <string>unlink</string>
                            <string>unpack</string>
                            <string>unshift</string>
                            <string>untie</string>
                            <string>utime</string>
                            <string>values</string>
                            <string>vec</string>
                            <string>wait</string>
                            <string>waitpid</string>
                            <string>wantarray</string>
                            <string>warn</string>
                            <string>write</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Name</key>
			<string>Strings</string>
			<key>Regular Expressions</key>
			<array>
				<string>("(\\"|[^"])*")</string>
				<string>('(\\'|[^'])*')</string>
				<string>`[^`]*`</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Name</key>
			<string>Comments</string>
                        <key>Comment</key>
			<true/>
			<key>Regular Expressions</key>
			<array>
				<string>[^\$\\](#([^[:cntrl:]]|	)*)</string>			
				<string>(^#([^[:cntrl:]]|	)*)</string>			

			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<true/>
                        <key>Comment</key>
			<true/>
			<key>Multiline Begin</key>
			<string>
=</string>
			<key>Multiline End</key>
			<string>=cut</string>
			<key>Name</key>
			<string>POD Comments</string>
		</dict>
	</array>
</dict>
</plist>
