<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Extensions</key>
		<string>rb,ruby</string>
		<key>Function Modifiers</key>
		<array>
			<dict>
				<key>Replace</key>
				<string>\([^\)]*\)</string>
				<key>With</key>
				<string>()</string>
			</dict>
			<dict>
				<key>Replace</key>
				<string> +</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>:</string>
				<key>With</key>
				<string></string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>^module</string>
				<key>With</key>
				<string>module </string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>^class</string>
				<key>With</key>
				<string>class </string>
			</dict>
			<dict>
				<key>Replace</key>
				<string>^def</string>
				<key>With</key>
				<string>  </string>
			</dict>
		</array>
		<key>Functions Regular Expression</key>
		<string>(def +[A-Za-z0-9_]+ *(\([^\)]*\))?|class +[A-Za-z0-9_]+|module +[A-Za-z0-9_]+)</string>
		<key>Name</key>
		<string>Ruby</string>
		<key>Valid Characters for Variables</key>
		<string>_0987654321abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
	</dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Numbers</string>
			<key>Plain Strings</key>
			<array>
				<string>[0-9]*\.*[0-9]+</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.53724998235702515</real>
				<real>0.074510000646114349</real>
				<real>0.31369999051094055</real>
			</array>
			<key>Name</key>
			<string>Keywords</string>
			<key>Plain Strings</key>
			<array>
                            <string>__FILE__</string>
                            <string>__LINE__</string>
                            <string>BEGIN</string>
                            <string>END</string>
                            <string>and</string>
                            <string>begin</string>
                            <string>break</string>
                            <string>case</string>
                            <string>catch</string>
                            <string>defined\?</string>
                            <string>do</string>
                            <string>else</string>
                            <string>elsif</string>
                            <string>end</string>
                            <string>ensure</string>
                            <string>for</string>
                            <string>if</string>
                            <string>in</string>
                            <string>include</string>
                            <string>next</string>
                            <string>not</string>
                            <string>or</string>
                            <string>private</string>
                            <string>protected</string>
                            <string>public</string>
                            <string>redo</string>
                            <string>require</string>
                            <string>rescue</string>
                            <string>retry</string>
                            <string>return</string>
                            <string>super</string>
                            <string>self</string>
                            <string>then</string>
                            <string>throw</string>
                            <string>unless</string>
                            <string>until</string>
                            <string>when</string>
                            <string>while</string>
                            <string>yield</string>
                            <string>nil</string>
                            <string>false</string>
                            <string>true</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.40784299373626709</real>
				<real>0.21961000561714172</real>
				<real>0.12940999865531921</real>
			</array>
			<key>Multiline</key>
			<false/>
			<key>Name</key>
			<string>Pragmas</string>
                        <key>Plain Strings</key>
			<array>
                            <string>attr</string>
                            <string>attr_reader</string>
                            <string>attr_writer</string>
                            <string>attr_accessor</string>
                            <string>alias</string>
                            <string>module</string>
                            <string>class</string>
                            <string>def</string>
                            <string>undef</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.46274000406265259</real>
				<real>0.058820001780986786</real>
				<real>0.082353003323078156</real>
			</array>
			<key>Name</key>
			<string>Strings</string>
			<key>Regular Expressions</key>
			<array>
				<string>("(\\"|[^"])*")</string>
				<string>('(\\'|[^'])*')</string>
				<string>`[^`]*`</string>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Name</key>
			<string>Comments</string>
                        <key>Comment</key>
			<true/>
			<key>Regular Expressions</key>
			<array>
				<string>[^\$\\](#([^[:cntrl:]]|	)*)</string>			
				<string>(^#([^[:cntrl:]]|	)*)</string>			

			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1371999979019165</real>
				<real>0.43130001425743103</real>
				<real>0.14499999582767487</real>
			</array>
			<key>Multiline</key>
			<true/>
                        <key>Comment</key>
			<true/>
			<key>Multiline Begin</key>
			<string>
=</string>
			<key>Multiline End</key>
			<string>=cut</string>
			<key>Name</key>
			<string>POD Comments</string>
		</dict>
	</array>
</dict>
</plist>
