
p	        {
	font-size: 8pt;
	font-family: "Lucida Grande", Arial, "Sans Serif";
	text-decoration: none
	}



a          {
	font-family: "Lucida Grande", Arial, "Sans Serif";
	text-decoration: none
	}


	
a:hover    {
	font-family: "Lucida Grande", Arial, "Sans Serif";
	text-decoration: underline
	}


#mainbox	   {
	background-color: #fff;
	margin-top: 30px;
	margin-right: 26px;
	margin-left: 18px;
	position: absolute;
	top: 10px
	}
	
#taskbox  	       {
	background-color: #eee;
	list-style-type: decimal;
	list-style-position: outside;
	margin-top: 12px;
	margin-bottom: 12px;
	border: solid 1px #444
	}
h2     {
	color: gray;
	font-size: 11pt;
	font-family: "Lucida Grande", Arial, "Sans Serif";
	padding-bottom: 6px
	}





h1   {
	font-size: 20pt;
	font-family: "Lucida Grande", Arial, "Sans Serif";
	margin-bottom: -10px
	}

h3                                 {
	font-size: 12pt;
	font-family: "Lucida Grande", Arial, "Sans Serif";
	margin-bottom: 24px
	}

































