<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>meta.default</key>
    <string>Default Text</string>
    <key>meta.highlight.currentline</key>
    <string>-</string>
    <key>meta.invisible.character</key>
    <string>¶ .</string>
    <key>meta.link</key>
    <string>http://apple.com www.panic.com</string>
    <key>meta.link.email</key>
    <string>steve@apple.com</string>
    <key>comment.block</key>
    <string>/* Comment */</string>
    <key>comment.block.documentation</key>
    <string>/*" Autodoc Comment "*/</string>
    <key>comment.line</key>
    <string>// comment</string>
    <key>keyword.constant</key>
    <string>NaN Infinity true false</string>
    <key>keyword.control</key>
    <string>if else class new do while</string>
    <key>keyword.type</key>
    <string>byte float char void double</string>
    <key>language.constant.numeric</key>
    <string>0 15 0x4a 0713 3.14</string>
    <key>language.subroutine.function</key>
    <string>my_function_call()</string>
    <key>string.double</key>
    <string>"lorem ipsum"</string>
    <key>string.exec</key>
    <string>%x{ls -l}</string>
    <key>string.regex</key>
    <string>/([^ a-zA-Z0-9_.-]+)/n</string>
    <key>string.single</key>
    <string>'lorem ipsum'</string>
    <key>support.class.standard</key>
    <string>Object String Array Math</string>
  </dict>
</plist>
