<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitialFiles</key>
	<array>
		<dict>
			<key>file</key>
			<string>Chat.txt</string>
			<key>mode</key>
			<string>SEEMode.Base</string>
		</dict>
		<dict>
			<key>file</key>
			<string>index.html</string>
			<key>mode</key>
  		<string>SEEMode.HTML</string>
		</dict>
		<dict>
			<key>file</key>
			<string>conference.notes</string>
			<key>mode</key>
			<string>SEEMode.Conference</string>
		</dict>
	</array>
	<key>Directory</key>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>shortName</key>
				<string>meta_admin</string>
				<key>groups</key>
				<array>
					<string>admin</string>
				</array>
			</dict>
		</array>
		<key>users</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<string>admin</string>
				</array>
				<key>password</key>
				<string>admin</string>
				<key>role</key>
				<string>Admin</string>
				<key>shortName</key>
				<string>admin</string>
			</dict>
			<dict>
				<key>password</key>
				<string>jdoe</string>
				<key>role</key>
				<string>Confidant</string>
				<key>shortName</key>
				<string>jdoe</string>
				<key>fullName</key>
				<string>John Doe</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
