<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>StartTag</key>
		<string>#</string>
	</dict>
	<key>LineCompletion</key>
	<string>;</string>
	<key>Name</key>
	<string>Perl</string>
	<key>VariablePrefixes</key>
	<array>
		<string>$</string>
		<string>%</string>
		<string>@</string>
	</array>
</dict>
</plist>
