<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>F</string>
				<string>F90</string>
				<string>Filemaker</string>
				<string>M</string>
				<string>act3</string>
				<string>ada</string>
				<string>applescript</string>
				<string>as</string>
				<string>asm</string>
				<string>asp</string>
				<string>awk</string>
				<string>bak</string>
				<string>bash</string>
				<string>b</string>
				<string>bf</string>
				<string>brainfuck</string>
				<string>builder</string>
				<string>c</string>
				<string>cgi</string>
				<string>c++</string>
				<string>cfm</string>
				<string>cob</string>
				<string>conf</string>
				<string>cp</string>
				<string>cpp</string>
				<string>cs</string>
				<string>csh</string>
				<string>css</string>
				<string>CSS</string>
				<string>csv</string>
				<string>custom</string>
				<string>cxx</string>
				<string>def</string>
				<string>default</string>
				<string>do</string>
				<string>dtd</string>
				<string>dxf</string>
				<string>enc</string>
				<string>eps</string>
				<string>erl</string>
				<string>err</string>
				<string>f</string>
				<string>f90</string>
				<string>fcgi</string>
				<string>for</string>
				<string>fs</string>
				<string>fscript</string>
				<string>gcc</string>
				<string>go</string>
				<string>h</string>
				<string>hpgl</string>
				<string>hrl</string>
				<string>htm</string>
				<string>HTM</string>
				<string>html</string>
				<string>ics</string>
				<string>idl</string>
				<string>inc</string>
				<string>ini</string>
				<string>java</string>
				<string>javascript</string>
				<string>js</string>
				<string>las</string>
				<string>lasso</string>
				<string>latex</string>
				<string>lgt</string>
				<string>lisp</string>
				<string>log</string>
				<string>ltx</string>
				<string>lua</string>
				<string>m</string>
				<string>m1s</string>
				<string>mel</string>
				<string>m4</string>
				<string>mk</string>
				<string>mm</string>
				<string>msl</string>
				<string>mtl</string>
				<string>mws</string>
				<string>mx</string>
				<string>mxo</string>
				<string>mysql</string>
				<string>notes</string>
				<string>njs</string>
				<string>p</string>
				<string>ps</string>
				<string>pas</string>
				<string>pch</string>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>phtml</string>
				<string>pl</string>
				<string>plist</string>
				<string>pm</string>
				<string>pod</string>
				<string>postgresql</string>
				<string>pike</string>
				<string>pp</string>
				<string>pro</string>
				<string>py</string>
				<string>python</string>
				<string>pyw</string>
				<string>r</string>
				<string>rb</string>
				<string>rc</string>
				<string>reb</string>
				<string>rebol</string>
				<string>rsp</string>
				<string>rtf</string>
				<string>rhtml</string>
				<string>ruby</string>
				<string>rjs</string>
				<string>rxp</string>
				<string>s</string>
				<string>sgml</string>
				<string>sh</string>
				<string>shtm</string>
				<string>shtml</string>
				<string>sieve</string>
				<string>sl</string>
				<string>strings</string>
				<string>sty</string>
				<string>sps</string>
				<string>spss</string>
				<string>sql</string>
				<string>SQL</string>
				<string>st</string>
				<string>svg</string>
				<string>tab</string>
				<string>tcl</string>
				<string>tcsh</string>
				<string>tex</string>
				<string>text</string>
				<string>txt</string>
				<string>types</string>
				<string>uue</string>
				<string>v</string>
				<string>vbs</string>
				<string>vcard</string>
				<string>vcs</string>
				<string>verilog</string>
				<string>vhd</string>
				<string>vhdl</string>
				<string>vrm</string>
				<string>vrml</string>
				<string>wmk</string>
				<string>x</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>yaml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SubEthaEditFiles.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PlainTextType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PlainTextDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>seestyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>style.icns</string>
			<key>CFBundleTypeName</key>
			<string>SubEthaEditSyntaxStyle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.codingmonkeys.subethaedit.syntaxstyle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PlainTextDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Mode.icns</string>
			<key>CFBundleTypeName</key>
			<string>SubEthaEditModeType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.codingmonkeys.subethaedit.mode</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>seetext</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>seetext.icns</string>
			<key>CFBundleTypeName</key>
			<string>SEETextType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.codingmonkeys.subethaedit.seetext</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PlainTextDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>SubEthaEdit 3.5.3b, © 2003-2010 TheCodingMonkeys</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SubEthaEditHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>SubEthaEdit Help</string>
	<key>CFBundleIconFile</key>
	<string>SubEthaEdit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>de.codingmonkeys.SubEthaEdit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.3b</string>
	<key>CFBundleSignature</key>
	<string>Hdra</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SubEthaEdit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>see</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>REVISION</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.4</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2003-2010 TheCodingMonkeys</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Make New SubEthaEdit Document</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>SubEthaEdit</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.codingmonkeys.de/subethaedit/appcast.rss</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQCD+jaaiE84ZGe28mW/u1HqTZKs1eFN
tBpkBd55qNiUSCAKB7BOkIbyRl9bqDynSlrAgBAcya1Nkif4aptLoEBz/BFcDT2j
WlKnYJEyTxhKWGubeKeVKGA3Wr/NWuCCQiZokETgi6qbNmq4MRC97/XTY/SomDzF
y193ltZs+GADbzo6ZbNwMRvWnFQsHIV+Qz3W9cOWgWfrGwZL6ZVMs/JrLBKy1x8N
F+yFoo092ZsnlzBgotn4E4UX0DdQxDlV3CCAcbLzTastgdMkVs1rum9pbzymhFUI
io8EhRl7YWGXMECE0k4/kimtkwt8jIF0LldUyI1gMTE8HJQa7bV1sRgjAhUA6ECC
hZLDLzT5tVcMGrwHVcjboi8CggEAJqRlIaDwtRbchlt6AYiBtggFb/jkShq59nCi
9dRVVmDAodSuHIYEuLOuf1kY6Oz7SNXEHN9ZDg1LmTmM8/9QuipJwdR+MJ2XKm0t
T/VW+oI1JrDmRi1nRg6hLE7XT8qD8/Sp29Vsu4x+YGTV94BunjFbM1AhITsF+nMY
2p9HwT+APuJvxhm/tQVCQ8QVlr69ObyA4cCNJUuRCX7PpZEMayQslpO7Z/gNfgoe
ftiT7QJlub7xENq9ZJ5Csw76KG6b2CqnwK/76n2ALbW3RazqiWcGdjk2c3acOHvq
5EH+4YlCAebrCYcLo3q4MkUA2qVNNDkgPI6q/xr4wFw+nxObGwOCAQUAAoIBAE1w
SHT1iU0IRQT9hVu8BjJHn1P0h5kZDS1C0OyhY2BzZLeU/se1VJoYE99uAieMt/jp
zUJBEYkHKOJPAXMbmqGTm4T+4PjPhy/a53vZP/i5Hke0D9VWILN3riVPpcBaz7W1
bghauo3ax9soU8debynGxhYmGqfpEGL0zU377Xmb6oeLuIeBRc0XtSFI1R5l6k19
F0vmLFsjqt6kTT3jLDv5HGVofBh7zaEUuHT7j3p5rB2u0zRYCUnZk6GIkoI0TfjD
BeYykN+b2qAi1yS2y8bpYY66g2pv5VL/Mw/piR46gD9P8mSFI6iFaqu2LnbD1esx
NpVfZko6DqvJJcLklZ8=
-----END PUBLIC KEY-----</string>
	<key>TCMBundledSeeToolVersion</key>
	<string>1.2.1</string>
	<key>TCMMinimumSeeToolVersion</key>
	<string>1.0</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubEthaEdit Mode</string>
			<key>UTTypeIconFile</key>
			<string>Mode.icns</string>
			<key>UTTypeIdentifier</key>
			<string>de.codingmonkeys.subethaedit.mode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mode</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubEthaEdit Syntax Style</string>
			<key>UTTypeIconFile</key>
			<string>style.icns</string>
			<key>UTTypeIdentifier</key>
			<string>de.codingmonkeys.subethaedit.syntaxstyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>seestyle</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubEthaEdit Text</string>
			<key>UTTypeIconFile</key>
			<string>seetext.icns</string>
			<key>UTTypeIdentifier</key>
			<string>de.codingmonkeys.subethaedit.seetext</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>seetext</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
