meta.default {
	color : #000;
}/* Base  - LaTeX */

keyword {
	color : #881350;
}/* Keywords  - LaTeX */

structured.section {
	color : #881350;
	font-weight : bold;
}/* Structuring Keywords  - LaTeX */

language.subroutine.function {
	color : #408;
}/* Functions  - LaTeX */

structured.comment {
	color : #236E25;
	font-style : italic;
}/* Singleline Comment  - LaTeX */

structured.math {
	color : #a00;
	font-style : italic;
}/* Inline Math  - LaTeX */

