// Change to yours (you find the id by 'security find-identity -v' it is the one inside the brackets, )
// and then make git ignore it by
// git update-index --skip-worktree BuildConfig/Identity.xcconfig
DEVELOPMENT_TEAM = Change In Identity.xcconfig
CODE_SIGN_IDENTITY = Mac Developer

SEE_APP_IDENTIFIER_BASE = de.opensource.SubEthaEdit
// SEE_APP_PRODUCT_NAME = SubEthaEdit

// You probably also want to do
// git update-index --skip-worktree BuildConfig/TCMRevision.xcconfig
