//  TCMAppConfig.xcconfig
//  SubEthaEdit
//
//  Created by Michael Ehrmann on 21.10.13.

// These are allowed to be changed by the Identity file.
SEE_APP_PRODUCT_NAME = SubEthaEdit
SEE_APP_IDENTIFIER_BASE = de.opensource.SubEthaEdit
SEE_APPCAST_FEED_URL = ""

#include "Identity.xcconfig"

#include "TCMReleaseInfo.xcconfig"

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.15

COMBINE_HIDPI_IMAGES = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIGURATION_$(CONFIGURATION) $(TCM_APP_STYLE) TCM_APP_IDENTIFER_SUFFIX=$(TCM_APP_IDENTIFER_SUFFIX)  SEE_APP_PRODUCT_NAME="$(SEE_APP_PRODUCT_NAME)" SEE_APPCAST_FEED_URL="$(SEE_APPCAST_FEED_URL)" SEE_APP_IDENTIFIER_BASE=$(SEE_APP_IDENTIFIER_BASE) SEE_CLT_VERSION="$(TCM_CLT_VERSION)" SEE_REPO_REVISION="$(TCM_APP_REVISION)"
SKIP_INSTALL = YES

CLANG_ENABLE_MODULES = YES
ENABLE_HARDENED_RUNTIME = YES

// The intention is to be very recent
CLANG_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++17

// disable warning about nested /**/ as modern syntax highlighting is correct enough
WARNING_CFLAGS = -Wno-comment

