//
//  TCMAppConfig.xcconfig
//  SubEthaEdit
//
//  Created by Michael Ehrmann on 21.10.13.
//  Copyright (c) 2013 TheCodingMonkeys. All rights reserved.
//

#include "TCMReleaseInfo.xcconfig"
#include "Identity.xcconfig"

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.10

COMBINE_HIDPI_IMAGES = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIGURATION_$(CONFIGURATION) $(TCM_APP_STYLE) TCM_APP_IDENTIFER_SUFFIX=$(TCM_APP_IDENTIFER_SUFFIX) BETA_EXPIRE_DATE=$(TCM_APP_BETA_EXPIRE_DATE)
SKIP_INSTALL = YES

CLANG_ENABLE_MODULES = YES
