//  TCMReleaseInfo.xcconfig
//  SubEthaEdit
//
//  Created by Michael Ehrmann on 21.10.13.

#include "TCMRevision.xcconfig"

TCM_APP_COPYRIGHT = © 2018-2019 ${SEE_APP_PRODUCT_NAME} Contributors. © 2003-2018 TheCodingMonkeys.

// Set TCM_APP_IDENTIFER_SUFFIX to "Dev" or "" ("" for release)
TCM_APP_IDENTIFER_SUFFIX =

// Set TCM_APP_IDENTIFER_SUFFIX to "BETA", "FULL" or "" ("" or "FULL" for release) "" is App Store (all without the quotes)
TCM_APP_STYLE = 

TCM_APP_BETA_EXPIRE_DATE = "2018-12-01 00:00:00 +0100"
TCM_APP_VERSION = 5.1

// remove app version suffix for release versions
TCM_APP_VERSION_SUFFIX =

TCM_APP_GET_INFO = ${SEE_APP_PRODUCT_NAME} ${TCM_APP_VERSION}, ${TCM_APP_COPYRIGHT}

TCM_CLT_VERSION = 2.1.4
TCM_CLT_GET_INFO = see ${TCM_CLT_VERSION}, ${TCM_APP_COPYRIGHT}
