//
//  TCMReleaseInfo.xcconfig
//  SubEthaEdit
//
//  Created by Michael Ehrmann on 21.10.13.
//  Copyright (c) 2013 TheCodingMonkeys. All rights reserved.
//

#include "TCMRevision.xcconfig"

TCM_APP_COPYRIGHT = © 2003-2014 TheCodingMonkeys. All rights reserved.

TCM_APP_IDENTIFER_SUFFIX = Dev
TCM_APP_STYLE = BETA
TCM_APP_BETA_EXPIRE_DATE = "2014-10-30 23:59:59 +0100"
TCM_APP_VERSION = 4.0.4b1
TCM_APP_GET_INFO = SubEthaEdit ${TCM_APP_VERSION}, ${TCM_APP_COPYRIGHT}

TCM_CLT_VERSION = 2.0
TCM_CLT_GET_INFO = see ${TCM_CLT_VERSION}, ${TCM_APP_COPYRIGHT}
