meta.default {
   color:#000;
   font-trait:0;
}

meta.link {
   color:#0000ff;
   inverted-color:#4939ff;
   font-trait:0;
   font-style:underline;
}

constant.character.invisible {
   color:#f00;
   font-trait:0;
}

meta.highlight.currentline {
  background-color:#fbffb2;
}
