<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>de.codingmonkeys.SubEthaEdit.Mac</string>
		<string>de.codingmonkeys.SubEthaEdit.MacFULL</string>
	</array>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>de.codingmonkeys.SubEthaEdit.MacFULL</key>
		<array>
			<string>de.codingmonkeys.SubEthaEdit.edit</string>
		</array>
		<key>de.codingmonkeys.SubEthaEdit.Mac</key>
		<array>
			<string>de.codingmonkeys.SubEthaEdit.edit</string>
		</array>
	</dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.executable</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.inherit</key>
	<true/>
</dict>
</plist>
