* { margin: 0; padding: 0; }

.hide { display: none; }

.flagged { outline: 5px solid red; }

hr {
	clear: both;
	height: 0;
	border: 0;
	visibility: hidden;
	}

html {
	text-align: center;
	}

body {
	background: #ebebeb url(./img/top-blue-bg.png) repeat-x top left;
	color: #000; /* Hat tip: http://defineyourcolors.com/20080826/text/coda-15-now-with-undefined-colors/ */
	font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	}
	
.container {
	width: 838px;
	text-align: left;
	margin: 0 auto;
	position: relative;
	background: url(./img/header-shadow.gif) no-repeat 0 318px;
	}
	
	
/* Begin Super-Top-Secret-Left-Hangy-Not-Centered-Taggy-Thing Technique, copyright © 2007 by Panic Industries.  No rights reserved. */
	
	#panic-tag {
		background: url(./img/panic-tag.png) no-repeat bottom left;
		position: absolute;
		top: 0;
		left: 0;
		width: 141px;
		height: 65px;
		z-index: 10;
		text-indent: -9999px;
		}
		
	#panic-tag a {
		display: block;
		width: 141px;
		height: 65px;
		}
	
/* End Super-Top-Secret-Left-Hangy-Not-Centered-Taggy-Thing Technique, copyright © 2007 by Panic Industries.  No rights reserved.  */


em, q {
	font-weight: bold;
	font-style: normal;
	}

code {
	font-family: monospace;
	}

a { outline: none; color: #003f8c; }
	
a img { border: 0; }

	
/* The header */	
	
div#header {
	height: 220px;
	width: 750px;
	margin: 0 auto;
	position: relative;
	background: url(./img/one-big-header.png) no-repeat;
	}
	
#header h1 {
	position: absolute;
	top: 42px;
	left: 136px;	
	text-indent: -9999px;
	}
	
#header h1 a {
	display: block;
	width: 525px;
	height: 170px;
	}
	
#header p {
	display: none;
	}

	
/* The navbar */

ul#navbar {
	height: 98px;
	width: 750px;
	text-align: center;
	list-style: none;
	margin: 0 auto 0 auto;
	clear: both;
	}
	
#navbar li {
	float: left;
	height: 98px;
	width: 250px;
	}
	
#navbar li#download {
	background-image: url(./img/nav-download-on.png);
	}

#navbar li#buy {
	background-image: url(./img/nav-buy-on.png);
	}
	
#navbar li#help {
	background-image: url(./img/nav-help-on.png);
	}
	
	
/* Bubble pop-up */

.popup {
	position: absolute;
	z-index: 50;
	border-collapse: collapse;
	visibility: hidden;
}

.popup td.corner {
	height: 15px;
	width: 19px;
	}

.popup td#topleft { background-image: url(./img/bubble-1.png); }
.popup td.top { background-image: url(./img/bubble-2.png); }
.popup td#topright { background-image: url(./img/bubble-3.png); }
.popup td.left { background-image: url(./img/bubble-4.png); }
.popup td.right { background-image: url(./img/bubble-5.png); }
.popup td#bottomleft { background-image: url(./img/bubble-6.png); }
.popup td.bottom { background-image: url(./img/bubble-7.png); text-align: center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td#bottomright { background-image: url(./img/bubble-8.png); }

.popup table.popup-contents {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	}

table.popup-contents th {
	text-align: right;
	text-transform: lowercase;
	}
	
table.popup-contents td {
	text-align: left;
	}
	
tr#release-notes th {
	text-align: left;
	text-indent: -9999px;
	background: url(./img/starburst.gif) no-repeat top right;
	height: 17px;
	}
	
tr#release-notes td a {
	color: #333;
}


/* Large floating popup window */

#fullscreen {
    display: none;
    background-image: url(./img/screen-shadow.png);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
    width: 100%;
	}

#largepopup {
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 404px;
	border: 0;
	border-collapse: collapse;
	z-index: 100;
	}

.largepopup-content {
	width: 344px;
	padding: 50px 30px 0 30px;
	margin: 0 auto;
	background: url(./img/floater-top.png) no-repeat;
	}
	
.largepopup-footer {
	background: url(./img/floater-bottom.png) bottom no-repeat;
	min-height: 78px;
	margin: 0;
	padding: 0 30px 0 30px;
	}
	
.largepopup-content h3 {
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	}
	
.largepopup-content p {
	font-size: 16px;
	line-height: 20px;
	padding: 20px 0;
	}
	
.largepopup-footer ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	}

#wrong-os h3 {
	padding-top: 80px;
	background: url(./img/wrong-os-h3.gif) no-repeat top;
	}

#start-download h3 {
	padding-top: 76px;
	background: url(./img/start-download-h3.png) no-repeat top;
	}
		
#start-download .largepopup-footer ul {
	text-align: center;
	padding: 0px;
	}
	
.largepopup-footer li {
	display: inline;
	padding: 0 5px;
	}
	
li#button-ok, li#button-confirm {
	/* background: url(./img/button-ok.png); */
	}
	
li#button-cancel {
	/* background: url(./img/button-cancel.png); */
	}
	
/* The short pitch */

#subhead {
	margin: 40px 0 20px 0;
	text-align: center;
	font-size: 20px;
	}
	
#subhead p {
	text-transform: lowercase;
	color: #133855;	
	}
	
#subhead em {
	font-weight: normal;
	font-style: italic;
	}
	
#subhead p.tagline {
	color: #0B6E97;
	font-size: 24px;
	}


/* The toolbar for the content box */

ul#toolbar {
	height: 52px;
	width: 682px;
	text-align: center;
	list-style: none;
	margin: 0 auto 0 auto;
	clear: both;
	position: relative;
	margin-bottom: -1px;
	}
	
#toolbar li {
	position: absolute;
	text-indent: -9999px;
	top: 0;
	}
	
#toolbar li a {
	height: 52px;
	display: block;
	}
	
#toolbar li.active {
	/*border-bottom: 1px solid #f2f2f2;*/
	background-position: bottom;
	height: 52px;
	z-index: 10;
	}

#toolbar li.inactive {
	background-position: top;
	border-bottom: 1px solid #ccc;
	}
	
#toolbar li:hover {
	background-position: bottom;
	}
		
#toolbar li#new-tab {
	left: 0;
	width: 94px;
	background-image: url(./img/toolbar_tab-new.png);
	}
	
#toolbar li#sites-tab {
	left: 93px;
	width: 93px;
	background-image: url(./img/toolbar_tab-sites.png);
	}

#toolbar li#files-tab {
	left: 185px;
	width: 96px;
	background-image: url(./img/toolbar_tab-files.png);
	}

#toolbar li#editor-tab {
	left: 280px;
	width: 97px;
	background-image: url(./img/toolbar_tab-editor.png);
	}

#toolbar li#preview-tab {
	left: 376px;
	width: 114px;
	background-image: url(./img/toolbar_tab-preview.png);
	}

#toolbar li#css-tab {
	left: 489px;
	width: 95px;
	background-image: url(./img/toolbar_tab-css.png);
	}

#toolbar li#more-tab {
	left: 583px;
	width: 100px;
	background-image: url(./img/toolbar_tab-more.png);
	}

	
/* The slide-y content box thingy */

#frame, #frame div.button, #scroller, .section { height: 57em; }

#frame {
	overflow: hidden;
	margin: 0 auto;
	width: 838px;
	position: relative;
	}
	
#frame div.button {
	position: absolute;
	top: 40%;
	}
	
div.button#left { left: 0; }
div.button#right { right: 0; }

#scroller {
	width: 750px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	background: #fff url(./img/content_pane-gradient.gif) bottom repeat-x;
	overflow: hidden;
	}

#content {
	width: 5250px;
	}
	
.section {
	width: 710px;
	margin: 20px;
	float: left;
	}
	
.section h2, .section h3 {
	color: #072453;
	font-weight: normal;
	font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	line-height: 24px;
	margin-bottom: 5px;
	}
	
.section h3 {
	color: #000;
	}
	
.section p, .section li {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 22px;
	}

.section li strong {
	font-size: 19px;
	font-weight: normal;
	}

.section img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	}
	
#new-pane p, #new-pane li {
	}

ul#new_features {
	list-style: none;
	margin: 10px 0;
	}
	
li.new_feature {
	display: block;
	list-style: none;
	padding-left: 40px;
	background-position: top left;
	background-repeat: no-repeat;
	min-height: 32px;
	}
	
li.new_feature#new-svn { background-image: url(./img/new-subversion_icon.png); }
li.new_feature#new-find { background-image: url(./img/new-find_icon.png); margin-left: 1px; padding-left: 39px;}
li.new_feature#new-books { background-image: url(./img/new-web_books.png); margin-left: 2px; padding-left: 38px; }
li.new_feature#new-clips { background-image: url(./img/new-clips.png); margin-left: 2px; padding-left: 38px; }
li.new_feature#new-more { background-image: url(./img/new-more_sticker.png); margin-left: -1px; padding-left: 41px;}

li.new_feature#new-plug_ins { background-image: url(./img/new-plug_ins.png); }
li.new_feature#new-open_quickly { background-image: url(./img/new-open_quickly.png); margin-left: 3px; padding-left: 36px; }
li.new_feature#new-spelling { background-image: url(./img/new-spelling.png); margin-left: 3px; padding-left: 37px; padding-top: 3px;}

#sites-paper {
	}
	
#sites-publish {
	float: right;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
 	outline: cyan;
	}
	
#files-browser {
	float: right;
	margin: 0 0 -30px 20px;
	}
	
#files-svn_icon {
	margin-bottom: 0px;
	}

ul#editor-features {
	list-style: none;
	display: block;
	}
	
ul#editor-features li {
	list-style: none;
	display: block;
	}

li#editor-collab {
	padding-left: 48px;
	background: url(./img/editor-collab.png) top left no-repeat;
	}
	
li#editor-clips {
	padding-left: 48px;
	background: url(./img/editor-clips.gif) top left no-repeat;
	}

#editor-clips_hud {
	float: right;
	margin-right: 0;
	margin-left: 10px;
	}
	
li#editor-token {
	padding-left: 48px;
	background: url(./img/editor-token.png) top left no-repeat;
	}

.token {
	white-space: nowrap;
	}

.token img {
	float: none;
	display: inline;
	margin: 0 0 -2px 0;
	line-height: 14px;
	}
	
#preview-dom {
	}
	
#css-gui_txt {
	margin-bottom: 50px;
	}
	
#css-icons {
	float: right;
	margin-right: 0;
	margin-left: 10px;
	margin-bottom: 0;
	}
	
#more-terminal_icon {
	margin-bottom: 10px;
	}
	
#more-books_icon {
	float: right;
	margin-left: 0px;
	}
	
/* Screenshots */

ul.screenshots {
	list-style: none;
	margin: 10px auto 10px auto;
	clear: both;
	text-align: center;
	}
	
ul.screenshots li {
	display: inline;
	list-style: none;
	}
	
ul.screenshots li a img {
	float: none;
	margin: 0 10px;
	}
		
/* Badges */

	ul#badges {
		list-style: none;
		height: 60px;
		}
	
	#badges li {
		float: left;
		list-style: none;
		height: 60px;
		}
		
	#coda_badge-universal {
		width: 93px;
		}
		
	#coda_badge-macuser {
		width: 159px;
		padding-left: 144.5px;
		padding-top: 5px;
		}		
		
	#coda_badge-ada {
		width: 207px;
		padding-left: 144.5px;
		}
		
	#coda_badge-softpedia {
		width: 106px;
		padding-left: 61px;
		}

/* Footer */

div#footer {
	width: 750px;
	margin: 0 auto 20px auto;
	color: #666;
	font-size: 14px;
	padding-top: 62px;
background: #ebebeb url(./img/content_pane-shadow.gif) no-repeat top;
	}
	
#coda-get_help #footer {
	background: #ebebeb;
	}
	
#footer p#legal {
	margin: 60px auto 0 auto;
	padding-top: 66px;
	background: #ebebeb url(./img/footer-panic_logo.png) top center no-repeat;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	}
	
#footer p#disclaimer {
	font-size: 12px;
	color: #333;
	text-align: center;
	}

/* Support Page Stuff */

#serial-finder {
	margin: 25px auto 20px auto;
	}
	
#serial-finder h3 {
	font-size: 16px;
	line-height: 29px;
	font-weight: normal;
	padding: 0 5px 0 32px;
	background: url(./img/help-padlock.png) no-repeat left;
	}
	
#serial-finder table {
	margin: 0 auto;
	}

input#email-search {
	padding: 0 5px;
	font-size: medium;
	color: #777;
	}
	
input#button-serials {
	padding: 0 0 0 5px;
	}
	
.support-section {
	background: url(./img/purchase_form-top.png) top repeat-x;
	padding: 20px 40px;
	}
	
.support-section-wrapper {
	width: 750px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 40px;
	}
	
.support-section h2 {
	font-size: 24px;
	line-height: 32px;
	text-transform: lowercase;
	margin: 10px 0;
	text-align: left;
	}

.support-section p {
	margin: 10px 40px 20px 40px;
	font-size: 14px;
	line-height: 18px;
	}
	
#coda-faq h2 {
	padding-left: 40px;
	background: url(./img/help-faq-icon.png) left no-repeat;
	color: #1f4687;
	}
	
#coda-faq h3 {
	margin: 20px 0 5px 0;
	font-size: 18px;
	font-weight: normal;
	}

#coda-developer h2 {
	padding-left: 40px;
	background: url(./img/help-developer.png) left no-repeat;
	color: #931919;
	}
	
#coda-developer p {
	padding-right: 
	}

#coda-contact h2 {
	padding-left: 44px;
	background: url(./img/help-send-email.png) left no-repeat;
	color: #4b0a78;
	}

#coda-contact p {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
	}
	
p#support-email-us {
	font-size: 18px;
	margin-top: 30px;
	}

fieldset {
	border: 0;
	}
	
legend {
	display: none;
	}

