<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.Java</string>
	<key>CFBundleName</key>
	<string>Java</string>
    <key>NSHumanReadableCopyright</key>
	<string>© 2004 TheCodingMonkeys
http://www.codingmonkeys.de</string>
    <key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
    <key>CFBundleGetInfoString</key>
	<string>1.1, Copyright TheCodingMonkeys 2004</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>TCMModeExtensions</key>
	<array>
	   <string>java</string>
	   <string>JAVA</string>
	</array>
</dict>
</plist>
