<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.PHP-HTML</string>
	<key>CFBundleName</key>
	<string>Objective-C</string>
    <key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    <key>CFBundleGetInfoString</key>
	<string>1.0, Copyright TheCodingMonkeys 2004</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>TCMModeExtensions</key>
	<array>
	   <string>php</string>
	   <string>php3</string>
	   <string>php4</string>
	   <string>phtml</string>
	   <string>PHP</string>
	   <string>PHP3</string>
	   <string>PHP4</string>
	   <string>PHTML</string>
	</array>
</dict>
</plist>
